	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/05/2019 10:58
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("fonts/Flaticon.eot");
      src: url("fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
           url("fonts/Flaticon.woff2") format("woff2"),
           url("fonts/Flaticon.woff") format("woff"),
           url("fonts/Flaticon.ttf") format("truetype"),
           url("fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("Flaticon.html#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
      font-family: Flaticon;
    font-style: normal;
    }
    [class^="flaticon-"] {
      display: inline-block;
     }
    
    
    .flaticon-question-mark-symbol:before { content: "\f100"; }
    .flaticon-play-button:before { content: "\f101"; }
    .flaticon-map:before { content: "\f102"; }
    .flaticon-users:before { content: "\f103"; }
    .flaticon-info:before { content: "\f104"; }
    .flaticon-fax:before { content: "\f105"; }
    .flaticon-house-key:before { content: "\f106"; }
    .flaticon-apartment:before { content: "\f107"; }
    .flaticon-house-key-1:before { content: "\f108"; }
    .flaticon-agent:before { content: "\f109"; }
    .flaticon-house:before { content: "\f10a"; }
    .flaticon-shopping-mall:before { content: "\f10b"; }
    .flaticon-contract:before { content: "\f10c"; }
    .flaticon-apartment-1:before { content: "\f10d"; }
    .flaticon-home:before { content: "\f10e"; }
    .flaticon-email:before { content: "\f10f"; }
    .flaticon-call:before { content: "\f110"; }
    .flaticon-region:before { content: "\f111"; }
    .flaticon-map-1:before { content: "\f112"; }
    .flaticon-for-sale:before { content: "\f113"; }
    .flaticon-cyber-security:before { content: "\f114"; }
    .flaticon-building:before { content: "\f115"; }
    .flaticon-warehouse:before { content: "\f116"; }
    .flaticon-notification:before { content: "\f117"; }
    .flaticon-for-rent:before { content: "\f118"; }
    .flaticon-rent:before { content: "\f119"; }
    .flaticon-pin:before { content: "\f11a"; }
    .flaticon-house-1:before { content: "\f11b"; }
    .flaticon-real-estate:before { content: "\f11c"; }
    .flaticon-skyline:before { content: "\f11d"; }
    .flaticon-house-2:before { content: "\f11e"; }
    .flaticon-maps-and-location:before { content: "\f11f"; }
    .flaticon-destination:before { content: "\f120"; }
    .flaticon-location:before { content: "\f121"; }
    .flaticon-building-1:before { content: "\f122"; }
    .flaticon-bed:before { content: "\f123"; }
    .flaticon-write-letter:before { content: "\f124"; }
    .flaticon-room-key:before { content: "\f125"; }
    .flaticon-send:before { content: "\f126"; }
    .flaticon-bathtub:before { content: "\f127"; }
    .flaticon-time-call:before { content: "\f128"; }
    .flaticon-elevator:before { content: "\f129"; }
    .flaticon-email-1:before { content: "\f12a"; }
    .flaticon-beds:before { content: "\f12b"; }
    .flaticon-chat:before { content: "\f12c"; }
    .flaticon-cctv:before { content: "\f12d"; }
    .flaticon-smoking:before { content: "\f12e"; }
    .flaticon-shower:before { content: "\f12f"; }
    .flaticon-hanger:before { content: "\f130"; }
    .flaticon-room-key-1:before { content: "\f131"; }
    .flaticon-hotel:before { content: "\f132"; }
    .flaticon-telephone:before { content: "\f133"; }
    .flaticon-towel:before { content: "\f134"; }
    .flaticon-wifi:before { content: "\f135"; }
    .flaticon-hotel-1:before { content: "\f136"; }
    .flaticon-suitcase:before { content: "\f137"; }
    .flaticon-bathrobe:before { content: "\f138"; }
    .flaticon-bed-1:before { content: "\f139"; }
    .flaticon-hotel-2:before { content: "\f13a"; }
    .flaticon-building-2:before { content: "\f13b"; }
    .flaticon-air-conditioner:before { content: "\f13c"; }
    .flaticon-door:before { content: "\f13d"; }
    .flaticon-bedroom:before { content: "\f13e"; }
    .flaticon-desktop:before { content: "\f13f"; }
    .flaticon-note:before { content: "\f140"; }
    .flaticon-picture:before { content: "\f141"; }
    .flaticon-group:before { content: "\f142"; }
    .flaticon-user:before { content: "\f143"; }
    .flaticon-pdf:before { content: "\f144"; }
    .flaticon-file:before { content: "\f145"; }
    .flaticon-database:before { content: "\f146"; }
    .flaticon-shopping-cart:before { content: "\f147"; }
    .flaticon-printer:before { content: "\f148"; }
    .flaticon-street-view:before { content: "\f149"; }
    .flaticon-social-media:before { content: "\f14a"; }
    .flaticon-medal:before { content: "\f14b"; }
    .flaticon-like:before { content: "\f14c"; }
    .flaticon-shield:before { content: "\f14d"; }
    .flaticon-add:before { content: "\f14e"; }
    .flaticon-bar-chart:before { content: "\f14f"; }
    .flaticon-like-1:before { content: "\f150"; }
    .flaticon-taxi:before { content: "\f151"; }
    .flaticon-hotel-3:before { content: "\f152"; }
    .flaticon-keycard:before { content: "\f153"; }
    .flaticon-warehouse-1:before { content: "\f154"; }
    .flaticon-building-3:before { content: "\f155"; }
    .flaticon-cardio:before { content: "\f156"; }
    .flaticon-workout:before { content: "\f157"; }
    .flaticon-architecture-and-city:before { content: "\f158"; }
    .flaticon-desk:before { content: "\f159"; }
    .flaticon-appartment:before { content: "\f15a"; }
    .flaticon-green-house:before { content: "\f15b"; }
    .flaticon-loft-with-windows:before { content: "\f15c"; }
    .flaticon-home-1:before { content: "\f15d"; }
    .flaticon-home-2:before { content: "\f15e"; }
    .flaticon-house-3:before { content: "\f15f"; }
    .flaticon-hands-and-gestures:before { content: "\f160"; }
    .flaticon-wifi-1:before { content: "\f161"; }
    .flaticon-house-4:before { content: "\f162"; }
    .flaticon-buy:before { content: "\f163"; }
    .flaticon-for-rent-1:before { content: "\f164"; }
    .flaticon-for-sale-1:before { content: "\f165"; }
    .flaticon-house-5:before { content: "\f166"; }
    .flaticon-placeholder:before { content: "\f167"; }
    