a{
    color:#26ae61;
}
a:hover{
    color:#000000;
}
h5.property-title{
color:#26ae61; 
}
.badge-primary {
    background: #26ae61; }
    .property-item.property-col-list .property-image img {
        width: 100%; }
        .property-item.property-col-list .property-image img {
            width: 100%; }
.property-item {
    margin-bottom: 30px; }
  .property-image {
    position: relative; }
    .property-image .property-agent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      position: absolute;
      bottom: 0;
      margin: 20px; }
      .property-image .property-agent .property-agent-image {
        width: 38px;
        margin-right: 10px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        cursor: pointer; }
        .property-image .property-agent .property-agent-image img {
          width: 100%;
          border-radius: 100%; }
      .property-image .property-agent .property-agent-info {
        opacity: 0;
        visibility: hidden;
        background: #ffffff;
        padding: 10px;
        font-size: 13px;
        position: relative;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .property-image .property-agent .property-agent-info:before {
          position: absolute;
          left: -9px;
          bottom: 15px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 10px 5px 0;
          border-color: transparent #ffffff transparent transparent; }
        .property-image .property-agent .property-agent-info .property-agent-name {
          color: #000000;
          font-weight: 600; }
          .property-image .property-agent .property-agent-info .property-agent-name:hover {
            color: #26ae61; }
        .property-image .property-agent .property-agent-info .property-agent-date {
          margin-left: auto; }
        .property-image .property-agent .property-agent-info .property-agent-contact {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 10px;
          margin-bottom: 0; }
          .property-image .property-agent .property-agent-info .property-agent-contact li a {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            background: #000000;
            color: #ffffff;
            font-size: 12px;
            text-align: center;
            border-radius: 50%;
            margin-right: 3px; }
            .property-image .property-agent .property-agent-info .property-agent-contact li a:hover {
              background: #26ae61; }
      .property-image .property-agent:hover .property-agent-info {
        opacity: 1;
        visibility: visible; }
    .property-image .property-status {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 8px;
      top: 8px;
      margin-bottom: 0px; }
      .property-image .property-status li {
        font-size: 13px;
        color: #fff;
        padding: 3px 8px;
        margin-right: 6px; }
        .property-image .property-status li:last-child {
          margin-right: 0px; }
      .property-image .property-status li.property-feature {
        background: #26ae61; }
      .property-image .property-status li.property-rent {
        background: #000000; }
    .property-image .property-lable {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 8px;
      top: 8px; }
    .property-image .property-trending:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 55px 55px 0 0;
      border-color: #ffc107 transparent transparent transparent;
      position: absolute;
      left: 0px;
      top: 0px; }
    .property-image .property-trending .fas {
      position: absolute;
      top: 12px;
      left: 12px;
      color: #fff; }
    .property-image .property-agent-popup {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 20px; }
      .property-image .property-agent-popup a {
        background: #000000;
        padding: 4px 6px;
        color: #ffffff;
        border-radius: 3px; }
        .property-image .property-agent-popup a:hover {
          background: #26ae61; }
        .property-image .property-agent-popup a i {
          margin-right: 2px; }
  
  .property-details {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-top: none; }
    .property-details i {
      margin-right: 5px; }
    .property-details .property-info {
      margin-bottom: 0px; }
      .property-details .property-info li {
        padding: 15px 0 0;
        font-size: 13px; }
        .property-details .property-info li i {
          margin-right: 0;
          display: block;
          font-size: 18px;
          color: #969696; }
        .property-details .property-info li span {
          color: #969696;
          font-size: 22px;
          margin-left: 3px;
          font-weight: 300; }
    .property-details .property-details-inner {
      padding: 20px; }
      .property-details .property-details-inner .property-title {
        color: #26ae61;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .property-details .property-address {
        margin-right: 10px; }
    .property-details .property-price {
      color: #26ae61;
      font-size: 24px;
      font-weight: 600;
      font-family: "Barlow Semi Condensed", sans-serif;
      margin-top: 14px; }
      .property-details .property-price span {
        font-size: 14px;
        color: #969696;
        font-weight: normal; }
    .property-details .property-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .property-details .property-btn{
        margin-right: auto;
        width: 100%; }
      .property-details .property-btn .property-listing-actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #eeeeee;
        border-bottom: 0px solid #eeeeee; }
        .property-details .property-btn .property-listing-actions li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: relative; }
          .property-details .property-btn .property-listing-actions li:before {
            content: "";
            border-right: 1px solid #eeeeee;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%; }
          .property-details .property-btn .property-listing-actions li:first-child:before {
            content: none; }
          .property-details .property-btn .property-listing-actions li a {
            -ms-flex-item-align: center;
                align-self: center;
            color: #969696;
            padding: 12px 20px;
            background: transparent; }
            .property-details .property-btn .property-listing-actions li a:hover {
              color: #26ae61; }
          .property-details .property-btn .property-listing-actions li i {
            margin-right: 0px; }
    .property-details .property-btn {
      margin-top: auto; }
      .property-details .property-btn a {
        display: block;
        padding: 15px;
        font-size: 15px;
        text-align: center;
        width:100%;
        background: #fafafa;
        color: #000000; }
        .property-details .property-btn a:hover {
          background: #26ae61;
          color: #ffffff; }
  
  .property-filter-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .property-filter-tag ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .property-filter-tag ul li a {
        margin-left: 3px;
        background: rgba(38, 174, 97, 0.1);
        color: #26ae61;
        font-weight: 500;
        padding: 2px 8px;
        font-size: 13px;
        border-radius: 3px; }
        .property-filter-tag ul li a i {
          padding-left: 4px;
          font-size: 12px; }
        .property-filter-tag ul li a:hover {
          background: #26ae61;
          color: #ffffff; }
      .property-filter-tag ul li .filter-clear {
        background: rgba(0, 16, 34, 0.1);
        color: #000000; }
        .property-filter-tag ul li .filter-clear:hover {
          background: #000000;
          color: #ffffff; }
  
  .property-col-list .property-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    border-top: 1px solid #eeeeee;
    border-left: none; }
    .property-col-list .property-details .property-agent {
      padding: 0px 20px 20px;
      margin-top: auto; }
    .property-col-list .property-details .property-price {
      margin-top: 0; }
    .property-col-list .property-details .property-details-inner-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .property-col-list .property-details .property-details-inner-box .property-price {
        margin-left: auto; }
  
  .property-offer .property-offer-image {
    padding: 90px 80px; }
  
  .property-offer .property-details .property-agent {
    padding: 0px 20px 20px; }
  
  .property-map .map-canvas {
    height: 500px; }
  
  .property-list li {
    margin-bottom: 5px; }
    .property-list li b {
      color: #000000;
      font-weight: 600;
      margin-right: 3px; }
  
  .property-list-style-2 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 30px; }
    .property-list-style-2 li:before {
      content: "\f111";
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      color: #26ae61;
      font-size: 5px;
      margin-right: 10px; }
  
  .walk-score-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  
  .property-nearby .nearby-title {
    font-size: 16px; }
  
  .property-search-field .property-search-item {
    position: relative;
    border: 1px solid #eeeeee;
    border-bottom: 0;
    z-index: 8; }
  
  .property-search-field .form-row {
    margin: 0px; }
  
  .property-search-field .form-row.property-price-slider {
    border-top: 1px solid #eeeeee; }
  
  .property-search-field .form-group {
    padding: 24px 28px;
    margin-bottom: 0px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
    .property-search-field .form-group:first-child {
      border-left: none; }
    .property-search-field .form-group label {
      display: block; }
  
  .property-search-field .form-control {
    background: transparent;
    color: #000000;
    padding: 0px;
    height: auto;
    line-height: normal;
    border: none; }
    .property-search-field .form-control::-webkit-input-placeholder {
      color: #000000; }
    .property-search-field .form-control::-moz-placeholder {
      color: #000000; }
    .property-search-field .form-control:-ms-input-placeholder {
      color: #000000; }
    .property-search-field .form-control::-ms-input-placeholder {
      color: #000000; }
    .property-search-field .form-control::placeholder {
      color: #000000; }
  
  .property-search-field i {
    padding-right: 5px; }
  
  .property-search-field .more-search {
    color: #969696;
    display: block; }
    .property-search-field .more-search:hover {
      color: #26ae61; }
  
  .property-search-field .form-group-search {
    width: 100%; }
    .property-search-field .form-group-search i {
      color: #26ae61; }
  
  .property-search-field .advanced-search {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    z-index: 99;
    margin: -1px 0px;
    width: 100%; }
  
  .property-search-field .card {
    padding: 0px;
    border-radius: 0px;
    border-color: #eeeeee; }
  
  .property-filter {
    border: 1px solid #eeeeee;
    position: relative; }
    .property-filter:after {
      position: absolute;
      left: 0;
      width: 100%;
      top: -4px;
      height: 1px;
      content: "";
      background: #eeeeee; }
    .property-filter:before {
      position: absolute;
      bottom: -4px;
      width: 100%;
      left: 0;
      height: 1px;
      content: "";
      background: #eeeeee; }
    .property-filter ul li {
      padding: 8px 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .property-filter ul li a {
        color: #969696;
        font-size: 12px; }
        .property-filter ul li a:hover {
          color: #26ae61; }
    .property-filter ul li.active a span {
      background: #26ae61; }
    .property-filter ul:nth-child(2n+2) li:last-child {
      border-right: none;
      padding-left: 0; }
    .property-filter .property-short .select2-container {
      min-width: 130px;
      margin-left: 10px; }
    .property-filter .property-view-list {
      margin-left: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .property-filter .property-list-icon {
      display: block;
      background: rgba(38, 174, 97, 0.1);
      padding: 10px 10px 8px;
      border-radius: 3px; }
      .property-filter .property-list-icon span {
        margin: 0 auto;
        background: #26ae61;
        height: 2px;
        width: 10px;
        border-radius: 3px;
        margin-bottom: 2px;
        display: block; }
        .property-filter .property-list-icon span:nth-child(2) {
          width: 16px; }
      .property-filter .property-list-icon:hover, .property-filter .property-list-icon .active {
        background: #26ae61; }
        .property-filter .property-list-icon:hover span, .property-filter .property-list-icon .active span {
          background: #ffffff; }
    .property-filter .property-list-icon.active {
      background: #26ae61; }
      .property-filter .property-list-icon.active span {
        background: #ffffff; }
    .property-filter .property-grid-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: rgba(38, 174, 97, 0.1);
      color: #26ae61;
      padding: 10px 10px 8px;
      border-radius: 3px; }
      .property-filter .property-grid-icon span {
        background: #26ae61;
        width: 2px;
        height: 10px;
        border-radius: 3px;
        margin: 0 1px;
        display: inline-block; }
        .property-filter .property-grid-icon span:nth-child(2) {
          height: 16px;
          margin-top: -3px; }
      .property-filter .property-grid-icon:hover {
        background: #26ae61; }
        .property-filter .property-grid-icon:hover span {
          background: #ffffff; }
    .property-filter .property-grid-icon.active {
      background: #26ae61; }
      .property-filter .property-grid-icon.active span {
        background: #ffffff; }
  
  .property-detail-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 30px; }
    .property-detail-meta > li > a {
      margin-right: -1px;
      border: 1px solid #eeeeee;
      padding: 14px 20px;
      display: block;
      color: #969696; }
      .property-detail-meta > li > a:hover {
        color: #26ae61; }